<section class="footer-area">
    <div class="container">
        <div class="row">
            <h2 class="footer-area__logo">MOGO</h2>
            <ul class="social d-flex align-item-center justify-content-center">
                <li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a></li>
                <li><a href="#"><i class="flaticon-instagram"></i></a></li>
                <li><a href="#"><i class="flaticon-pinterest"></i></a></li>
                <li><a href="#"><i class="flaticon-youtube"></i></a></li>
            </ul>
            <hr>
            <div class="copy-area">
                <p>Copyright ©2023 Mogo. Designed & Developed By <a href="#">Laaqiq</a></p>
            </div>
        </div>
    </div>
</section>