<section class="review-area ptb-100">
    <swiper-container   appSwiperDirective [config]="config"  class="swiper-slide container">
        <swiper-slide class="review-area__single-item">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3">
                    <div class="review-area__icon">
                        <i class="flaticon-chat"></i>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9">
                    <div class="review-area__content">
                        <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        </p>
                        <h4>Jho doe</h4>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="review-area__single-item">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3">
                    <div class="review-area__icon">
                        <i class="flaticon-chat"></i>
                    </div>
                </div>
                <div class="col-lg-10 col-md-9">
                    <div class="review-area__content">
                        <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                        </p>
                        <h4>Jho doe</h4>
                    </div>
                </div>
            </div>
        </swiper-slide>

        <!-- <div class="carousel-control-button">
            <button class="carousel-control-item carousel-prev search-carousel-prev"><i
                    class="flaticon-menu"></i></button>

            <button class="carousel-control-item carousel-next search-carousel-next"><i
                    class="flaticon-menu"></i></button>
        </div> -->

    </swiper-container>
</section>