<section class="design-area design-bg pt-100">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <small>For All Devices</small>
                <h3>UNIQUE DESIGN</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-4">
                <div class="design-area__img">
                    <img src="/assets/images/design/tab.png" alt="tab">
                    <div class="design-area__img--phone">
                        <img src="/assets/images/design/phone.png" alt="phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>