@use '../abstracts/index' as abstract;

/********************************************
* Input
********************************************/

input,
textarea {
    @include abstract.font-size-em(15);
    @include abstract.placeholder;
    border: none;
    padding: 0;
    background-color: transparent;
    &:focus {
        outline: none;
    }
}


/*------------------------------------------------------------------
[ Custom input group ]*/

.custom {
    &-input {
        label {
            font-size: 0.9em;
            margin-bottom: 0.5em;
        }
        &__label {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 0.9em;
                margin-bottom: 0.5em;
                &:not(:first-child) {
                    @include abstract.margin(null, null, null, 10);
                }
            }
        }
        &__group {
            display: flex;
            border: 1px solid abstract.$grayColor;
            border-radius: 5px;
            padding: var(--input-btn-padding);
            line-height: abstract.$line-height-base * 1px;
            height: 42px;
            @include abstract.respond-to(small) {
                height: 50px;
            }
            &.readonly {
                background-color: rgba(abstract.$grayColor, 0.2);
            }
        }
        // For append icon inside input group
        &__append {
            @include abstract.font-size-em(16);
            flex: 0 0 auto;
            width: 16px;
            text-align: center;
            color: var(--text-color);
            background-color: transparent;
            border: 0;
            padding: 0;
            i {
                vertical-align: middle;
            }
            @include abstract.respond-to(small) {
                i {
                    line-height: 1px;
                }
            }
        }
        // For prepend icon inside input group
        &__prepend {
            @extend .custom-input__append;
        }
        // For input-field inside input group
        &__field {
            flex: 1;
            -ms-flex: 1;
            &:not(:first-child) {
                @include abstract.margin(null, null, null, 12);
            }
            &:not(:last-child) {
                @include abstract.margin(null, 12, null, null);
            }
        }
        &__error {
            @include abstract.margin(5, null, null, null);
            @include abstract.font-size-em(14);
            color: abstract.$danger !important;
        }
    }
}


/*------------------------------------------------------------------
[ Checkbox & Radio ]*/

input {
    &[type="checkbox"] {
        display: none;
        &+label {
            position: relative;
            padding-left: 1.7em;
            @include abstract.font-size-em(15);
            cursor: pointer;
            &:before {
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 0.19em;
                border-radius: 3px;
                border: 1px solid abstract.$primaryColor;
                background-color: transparent;
                transition: all 0.3s linear;
                color: #fff;
                line-height: 1;
                font-size: 0.95em;
            }
        }
        &:checked {
            &+label {
                &:before {
                    content: "\f118";
                    font-family: Flaticon;
                    background-color: abstract.$primaryColor;
                }
            }
        }
    }
}