@use '../abstracts/index' as abstract;

/********************************************
* Loader icon
********************************************/

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-icon {
    @include abstract.font-size-em(50);
    width: 1em;
    height: 1em;
    animation: loading 1.7s linear infinite;
    // &:not(:last-child) {
    //     @include abstract.margin(0, 0, 7, 0);
    // }
}
