<section class="partner-area ptb-100">
    <swiper-container appSwiperDirective [config]="config" class="w-full container">

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/1.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/2.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/3.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/4.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/5.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/6.png" alt="partner">
            </div>
        </swiper-slide>

        <swiper-slide class="single-item">
            <div class="partner-area__single">
                <img src="/assets/images/partner/1.png" alt="partner">
            </div>
        </swiper-slide>

    </swiper-container>


    <!-- <swiper-container appSwiperDirective [config]="config" class="w-full">
        <swiper-slide class="w-[310px] sm:w-[450px] pb-6">
            <h2>hello</h2>
        </swiper-slide>

        <swiper-slide class="w-[310px] sm:w-[450px] pb-6">
            <h2>hello</h2>
        </swiper-slide>

        <swiper-slide class="w-[310px] sm:w-[450px] pb-6">
            <h2>hello</h2>
        </swiper-slide>

        <swiper-slide class="w-[310px] sm:w-[450px] pb-6">
            <h2>hello</h2>
        </swiper-slide>
        <swiper-slide class="w-[310px] sm:w-[450px] pb-6">
            <h2>hello</h2>
        </swiper-slide> -->
    <!-- </swiper-container> -->

</section>