<section class="work-area ptb-100">
    <div class="container-fluid ps-0 pe-0">
        <div class="row">
            <div class="section-title">
                <small>What We Do</small>
                <h3>SOME OF OUR WORK</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>
            </div>
        </div>

        <div class="row full-height g-0 ">
            <div class="col-lg-3 col-md-3">
                <div class="work-area__single">
                    <img src="/assets/images/work/1.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="work-area__single">
                    <img src="/assets/images/work/2.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="work-area__single">
                    <img src="/assets/images/work/3.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="work-area__single">
                    <img src="/assets/images/work/4.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="work-area__single">
                    <img src="/assets/images/work/5.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="work-area__single">
                    <img src="/assets/images/work/6.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
                <div class="work-area__single">
                    <img src="/assets/images/work/7.jpg" alt="work">
                    <div class="work-area__content">
                        <div class="content">
                            <i class="flaticon-picture"></i>
                            <h3>creatively designed</h3>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

