.work-area {
    position: relative;
    overflow: hidden;

    .full-height {
        height: 100%;
    }

    .work-area__single {
        position: relative;
        transition: all .3s ease;
        display: block;
        overflow: hidden;

        .work-area__content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 1;
            opacity: 0;
            background: linear-gradient(0deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
            transition: all .3s linear;

            .content {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 37%;

                i {
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 8px;
                    display: block;
                }

                h3 {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                p {
                    color: #fff;
                    font-style: italic;
                }
            }
        }

        &:hover {
            .work-area__content {
                opacity: 0.9 !important;

            }
        }
    }

    // .p-0 {
    //     padding-left: 0 !important;
    //     padding-right: 0 !important;
    // }

    .bs-0 {
        --bs-gutter-x: 0 !important;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .content {
        top: 35%;

        h3 {
            text-transform: capitalize !important;
            font-size: 13px !important;
        }

        p {
            font-size: 13px !important;
        }
    }
}