.what-do-area {
    position: relative;
    overflow: hidden;

    .what-we-do-bg {
        background: url(../../../../assets/images/wedo.jpg) no-repeat;
        background-size: cover;
        height: 100%;
    }

    .what-do-area-content {
        position: relative;

        .icon {
            position: absolute;
            top: 0;

            i {
                color: #95e1d3;
                font-size: 24px;
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: rgb(241, 241, 241);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #95e1d3;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .what-we-do-bg {
        height: 400px !important;
        margin-bottom: 30px;
    }
}