<div class="service-area pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <small>We work with</small>
                <h3>Amazing Services</h3>

            </div>
            <div *ngFor="let service of serViceData" class="col-lg-4 col-md-6 pb-40">
                <div class="service-area--content">
                    <div class="service-area--content--icon">
                        <i class="flaticon-artboard"></i>
                    </div>
                    <h3>{{service.title}}</h3>
                    <p>{{service.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>