<section class="client-area client-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <small>Happy Clients</small>
                <h3>What People Say</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-50">
                <div class="client-area__single">
                    <div class="client-area__single--img">
                        <img src="/assets/images/clients/1.jpg" alt="client">
                    </div>
                    <div class="client-area__single--content">
                        <h3>MATTHEW DIX</h3>
                        <small>Graphic Design</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-50">
                <div class="client-area__single">
                    <div class="client-area__single--img">
                        <img src="/assets/images/clients/2.jpg" alt="client">
                    </div>
                    <div class="client-area__single--content">
                        <h3>MATTHEW DIX</h3>
                        <small>Graphic Design</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-50">
                <div class="client-area__single">
                    <div class="client-area__single--img">
                        <img src="/assets/images/clients/3.jpg" alt="client">
                    </div>
                    <div class="client-area__single--content">
                        <h3>MATTHEW DIX</h3>
                        <small>Graphic Design</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-50">
                <div class="client-area__single">
                    <div class="client-area__single--img">
                        <img src="/assets/images/clients/4.jpg" alt="client">
                    </div>
                    <div class="client-area__single--content">
                        <h3>MATTHEW DIX</h3>
                        <small>Graphic Design</small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>