<section class="counter-area">
    <div class="container">
        <div class="counter-area__wrap">
            <div class="counter-area__single--content">
                <h2>{{projectcount}}</h2>
                <p>Web Design Projects</p>
            </div>
            <div class="counter-area__single--content">
                <h2>{{clientcount}}</h2>
                <p>happy client</p>
            </div>
            <div class="counter-area__single--content">
                <h2>{{awardcount}}</h2>
                <p>award winner</p>
            </div>
            <div class="counter-area__single--content">
                <h2>{{coffeecount}}</h2>
                <p>cup of coffee</p>
            </div>
            <div class="counter-area__single--content">
                <h2>{{memberscount}}</h2>
                <p>members</p>
            </div>
        </div>
    </div>
</section>
