<section class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <small>What we do</small>
                <h3>Story about us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>
            </div>
            <div class="col-lg-4 col-md-6 pb-30">
                <div class="about-area__single">
                    <a href="#" class="about-area__single--img">
                        <img src="/assets/images/about/1.jpg" alt="about">
                        <div  class="about-area__single--content">
                            <i class="flaticon-users"></i>
                            <h4>Super User</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-30">
                <div class="about-area__single">
                    <a href="#" class="about-area__single--img">
                        <img src="/assets/images/about/2.jpg" alt="about">
                        <div  class="about-area__single--content">
                            <i class="flaticon-users"></i>
                            <h4>Super User</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-3 pb-30">
                <div class="about-area__single">
                    <a href="#" class="about-area__single--img">
                        <img src="/assets/images/about/3.jpg" alt="about">
                        <div  class="about-area__single--content">
                            <i class="flaticon-users"></i>
                            <h4>Super User</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>