<section class="hero-area">
    <swiper-container appSwiperDirective [config]="config"  [autoplay]="true" class="hero-area__swiper-slide">
        <swiper-slide class="hero-area__swiper-slide--single">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-center">
                                <div class="hero-area__swiper-slide--single--content">
                                    <small>Creative Template</small>
                                    <h1>WELCOME TO MOGO</h1>
                                    <a [routerLink]="['/about']" routerLinkActive="active" class="box-btn">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>

        <swiper-slide class="hero-area__swiper-slide--single banner-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-center">
                                <div class="hero-area__swiper-slide--single--content">
                                    <small>Creative Template</small>
                                    <h1>WELCOME TO MOGO</h1>
                                    <a [routerLink]="['/about']" routerLinkActive="active" class="box-btn">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>

    </swiper-container>
</section>