@use '../abstracts/index' as abstract;

/********************************************
 * Dashboard header styles
 ********************************************/

.dashboard {
    &-page {
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            // @include padding(20, null, 20, null);
            @include abstract.margin(-11.5, null, null, null);
            &>* {
                @include abstract.margin(11.5, null, null, null);
                &:first-child {
                    @include abstract.margin(null, 15, null, null);
                }
            }
            .main-btn {
                flex: 0 0 auto;
            }
        }
    }
    &-basic {
        &__info {
            h3 {
                @include abstract.font-size-em(24);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            p {
                @include abstract.font-size-em(14);
                @include abstract.margin(0, 0, 0, 0);
            }
        }
    }
}